body {
  padding : 10px;
  background-image : url("background.jpg");
  background-position : right bottom;
  background-attachment : fixed;
}

h1, h2, .name {
	font-family : 'Century Gothic', 'Book Antiqua', Palatino, Serif;
	text-decoration : underline;
}

h2, h3, li{
	border-radius : .25em;
	font-weight : bold;
	text-align : center;
}

h3 { padding-top : .5em;}
 
img {
	display : block;
	height : auto;
	width : 50%;
	margin-left : auto;
	margin-right : auto;
}

label, #spotify{
	padding-top : 1em;
}

ul {
	list-style-type: none;
	padding-bottom : 1em;
	padding-left : 0;
}


#explore {
	background-color : rgba(120, 120, 120, .8);
	margin-top : 1em;
}

#spotify {
	width : 30%;
}

.col-md-6 {
	background-color : rgba(188,237,145, .8);
	width:45%;
	margin-left: 1em;
	margin-right: 1em;
}

.container, .container-fluid, .col-md-6, .name {
	border-radius : .5em;
}

.container, .container-fluid {
	width: 100%;
}

.form-control {
	width: 100%;
}

.name {
	background-color : #c0c0c0;
	border : 1px solid gray;
	font-size : 30px;
	font-style : italic;
	margin-bottom : .5em;
	margin-left : auto;
	margin-right : auto;
	text-decoration : none;
	width : 50%;
}

.name:hover, .songs:hover {
	color : purple;
}

.relatedNames {
	float : left;
	margin : 1em;
	font-weight : bold;
	font-style : italic;
	text-align : center;
}

.relatedImages {
	padding-top : .5em;
	width : auto;
	height : 128px;
}


.songs {
	border : 1px solid #787878;
	background-color : white;
}

